body {
    background-color: #fefffe;
    font-family: Arial, sans-serif;
}

.centered-text {
    text-align: center;
    margin-top: 5%;
}
.link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 10px;
}

.link:hover {
    background-color: #ddd;
}